
// Font Family////
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
.navbar-toggler{
  &:focus{
    outline: none;
  }
}
.font-primary{
  font-family: 'Poppins', sans-serif;
}
.font-secondary{
  font-family: 'Oswald', sans-serif;
}
.font-secondary-bold{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
.font-normal{
  font-weight: 400;
}
.font-bold{
  font-weight: 700;
}
.text-x{
  font-size: 2.5rem;
}
.text-2x{
  font-size: 3.2rem;
}
.text-3x{
  font-size: 4.2rem;
}
/// Colors 
$primary:#E8A63E;
$info:#e9b35c;

.text-primary{
  color: $primary;
}
.text-darken{
  color: $info;
}



// showcase////
.showcase{
  background-image: linear-gradient(to right, #00000002, #0000000a), url('../assets/images/bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &_content{
    padding-top: 13rem;
  }
}
.section-a{
  &_i{
    background-image: url('../assets/images/bg-1.jpg');
    background-size: cover;
     background-position: center;
      background-repeat: no-repeat;
  }
}
.card{
  border:0px solid #fff;
  box-shadow: 0 0 4px rgba(33,33,33,.2); 
}
.card:hover{
    cursor: pointer;
    border: 0px;
    border-bottom: $primary 3px solid;
    box-shadow: 0 10px 11px rgba(33,33,33,.2); 

}
.order-bg{

}
.order-content{
  margin-top: 11rem;
}

/// Media queries /////
@media screen and(max-width:441px){
  .showcase{
     background-image: linear-gradient(to right, #00000023, #00000023), url('../assets/images/bg.jpg');
      height: 100vh;
     
     &_content{
       color:#fff;
       padding-top: 11rem;
       h1{
         color: #E8A63E;
       }
     }
  }
  .h1-show{
    color: #E8A63E;
  }
}
$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

@import'../boostrap/scss/bootstrap.scss';
